@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

:root{
    --primary-color:black;
}

body{
    font-family: 'Major Mono Display', monospace;
    background-color: rgb(255, 247, 1);
    padding: 0px;
    margin: 0px;
}

.container{
    padding: 1.5rem 1.5rem;
    margin: auto;
    max-width: 75%;
    background-color: #0A75BC;
    color: blanchedalmond;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.header{
    text-align: center;
}

.input{
    display: flex;
    max-width: 60%;
    margin: auto;
    padding: 2rem 1.5rem;
    justify-content: center;
    align-items: center;
}

#txt{
    width: 500px;
    height: 200px;
    padding: 1rem;
    margin: 0.5rem;
    border: black solid 0.1px;
    border-radius: 1rem;
    font-family: inherit;
    font-weight: bold;
}

.button{
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: #231F20;
  padding: 0.5rem;
}


#btn{
    padding: 1rem 1.25rem;
    margin: 0.5rem 0.5rem;
    font-weight: bolder;
    font-family: inherit;
    font-size: large;
 }



#output{
    border: black solid 0.1px;
    height: 20vh;
    background-color: white;
    padding: 2rem 1.5rem;
    margin: auto;
    max-width: 52%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
}

 .footer{
    background-color:#0A75BC ;
    padding: 1.5rem 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: white;
    margin-top: 2rem;
}